<!doctype html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body class="d-flex flex-column vh-100">
<header class="sticky-top">
    <%- include('../partial/navbar.ejs') %>
</header>
<main class="container mt-5">
    <%- include('../partial/flash.ejs') %>
    <%- body %>
</main>
<footer class="footer bg-dark py-3 mt-auto">
    <%- include('../partial/footer.ejs') %>
    <%- include('../partial/bootstrap-script.ejs') %>
    <script src="/javascripts/validateForm.js"></script>
</footer>
</body>
</html>
