<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="border border-warning card shadow-lg p-3 mb-5 bg-white rounded">
            <img src="<%= campground.image %>"
                    class="card-img-top"
                    alt="https://uxdesign.cc/how-to-design-a-404-error-page-that-keeps-users-on-your-site-f3443a980ece">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-geo-alt-fill text-muted"
                            viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>
                    <small class="text-muted"><%= campground.location %></small></li>
                <li class="list-group-item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-tag-fill text-muted"
                            viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                    </svg>
                    <small>$ <%= campground.price %> / night</small>
                </li>
                <li class="list-group-item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                            width="16"
                            height="16"
                            fill="currentColor"
                            class="bi bi-person-fill text-muted"
                            viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                    <small class="text-capitalize">edited by <%= campground.author.username %></small>
                </li>
            </ul>
            <% if (currentUser && campground.author.equals(currentUser)){ %>

                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit"
                            class="card-link btn btn-info text-white">Edit</a>
                    <form class="d-inline"
                            action="/campgrounds/<%= campground._id %>?_method=DELETE"
                            method="POST">
                        <button class="btn btn-danger">DELETE</button>
                    </form>
                </div>
            <% } %>

            <div class="card-footer text-muted"> 2 days ago</div>
        </div>

    </div>
    <div class="col-6">
        <%- include('../reviews/new.ejs') %>

        <%- include('../reviews/index.ejs') %>
    </div>
</div>
