<% for (let review of campground.reviews){ %>
    <div class="border border-info card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-capitalize"><%= review.author.username %></h5>
            <hr>
            <% if (review._id == reviewID && currentUser && currentUser.equals(review.author)){ %>
                <form class="validated-form"
                        action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=PATCH"
                        method="POST"
                        novalidate>
                    <div class="mb-3">
                        <fieldset class="starability-slot">
                            <legend>Rating:</legend>
                            <input type="radio" id="no-edit-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                            <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
                            <label for="edit-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="edit-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
                            <label for="edit-rate3" title="Average">3 stars</label>
                            <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
                            <label for="edit-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
                            <label for="edit-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label for="body">Review: </label>
                        <textarea name="review[body]"
                                id="body"
                                cols="30"
                                rows="2"
                                class="form-control" required><%= review.body %></textarea>
                        <div class="valid-feedback">
                            Thanks!
                        </div>
                        <div class="invalid-feedback">
                            Please leave your thought about the camp!
                        </div>
                    </div>
                    <button class="btn btn-info text-white mt-2">Save</button>
                </form>
            <% } else { %>
                <h6 class="card-subtitle mb-2 text-muted">Rating: <%= review.rating %></h6>
                <p class="card-text">Review: <%= review.body %></p>
            <% } %>

        </div>
    </div>
<% } %>
