<% for (let review of campground.reviews){ %>
    <div class="border border-info card shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <h5 class="card-title text-capitalize d-inline"><%= review.author.username %></h5>
            <h6 class="card-subtitle mb-2 text-muted d-inline offset-3">Rating:
                <p class="starability-result d-inline"
                        data-rating="<%= review.rating %>"></p>
            </h6>
            <hr>


            <p class="card-text">Review: <%= review.body %></p>
            <% if(currentUser && currentUser.equals(review.author)) { %>

                <a href="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>/edit"
                        class="card-link btn btn-info text-white">Update</a>
                <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE"
                        method="POST"
                        class="d-inline">
                    <button class="btn btn-danger">Delete</button>
                </form>
            <% } %>

        </div>
    </div>
<% } %>
